@CHARSET "UTF-8";

.mdl-button--file input {
	cursor: pointer;
	height: 100%;
	right: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 300px;
	z-index: 4;
}

.mdl-textfield--file .mdl-textfield__input {
	box-sizing: border-box;
	width: calc(100% - 32px);
}

.mdl-textfield--file .mdl-button--file {
	right: 0;
}

#custom-card {
	margin: auto;
	margin-top: 1vh;
	width: 95vw;
	background-image: url(/img/background-card.svg);
	background-repeat: no-repeat;
	background-position-y: -50px;
	background-position-x: 113%;
}